In [1]:
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen

In [2]:
req = Request('https://in.investing.com/equities/itc-historical-data-dividends'
                , headers={'User-Agent': 'Mozilla/5.0'})

In [3]:
pages = urlopen(req).read()

In [4]:
soup = BeautifulSoup(pages.decode('utf-8'),'html.parser')

In [5]:
list_value = list(soup.children)

In [7]:
html_page = list_value[3]

In [9]:
html_body=list(html_page.children)[3]

In [11]:
table_intended =  html_body.findAllNext('table')[1]

In [13]:
tbody = list(table_intended.children)[5]

In [15]:
rows = tbody.findAll('tr')

In [17]:
list_collection = list()
for row in rows:
    span_list = row.findAll('span')
    dic = dict()
    dic['Ex-Dividend Date']=span_list[0].get_text()
    dic['Dividend']=span_list[1].get_text()
    dic['EPS Payout Ratio']=span_list[2].get_text()
    dic['Type']=span_list[3].get_text()
    dic['Payment Date']=span_list[4].get_text()
    dic['Yield']=span_list[5].get_text()
    list_collection.append(dic)
    dic = None

In [18]:
import pandas as pd
data_frame = pd.DataFrame(list_collection)
data_frame.head(15)

  Ex-Dividend Date Dividend EPS Payout Ratio Type  Payment Date  Yield
0     May 22, 2019     5.75             205%  TTM  Jul 16, 2019  2.71%
1     May 25, 2018     5.15             215%  TTM  Jul 31, 2018  1.73%
2     Jun 05, 2017     4.75                -  TTM  Jul 31, 2017  1.69%
3     May 30, 2016   4.3333                -  TTM  Jul 25, 2016  1.37%
4     Jun 03, 2015     6.25                -  TTM  Aug 30, 2015  1.92%

In [24]:
date_inex = pd.to_datetime(data_frame['Ex-Dividend Date'])
data_frame['Ex-Dividend Date'] = date_inex

In [26]:
date_inex = pd.to_datetime(data_frame['Payment Date'])
data_frame['Payment Date'] = date_inex

In [27]:
data_frame

  Ex-Dividend Date Dividend EPS Payout Ratio Type Payment Date  Yield
0       2019-05-22     5.75             205%  TTM   2019-07-16  2.71%
1       2018-05-25     5.15             215%  TTM   2018-07-31  1.73%
2       2017-06-05     4.75                -  TTM   2017-07-31  1.69%
3       2016-05-30   4.3333                -  TTM   2016-07-25  1.37%
4       2015-06-03     6.25                -  TTM   2015-08-30  1.92%

In [28]:
data_frame.to_csv('ITC_Dividends.csv')