In [1]:
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen

In [2]:
req = Request('https://in.investing.com/equities/itc-historical-data-earnings'
                , headers={'User-Agent': 'Mozilla/5.0'})

In [3]:
pages = urlopen(req).read()

In [4]:
soup = BeautifulSoup(pages.decode('utf-8'),'html.parser')

In [5]:
list_value = list(soup.children)

In [6]:
html_page = list_value[3]

In [7]:
html_body=list(html_page.children)[3]

In [8]:
table_intended =  html_body.findAllNext('table')[1]

In [9]:
tbody = list(table_intended.children)[5]

In [11]:
rows = tbody.findAll('tr')

In [14]:
rows[1].findAll('span')

[<span class="text">Jan 31, 2020</span>,
 <span class="text">12/2019</span>,
 <span class="text">3.4</span>,
 <span class="text">3.38</span>,
 <span class="text">+0.02</span>,
 <span class="text">120.13B</span>,
 <span class="text">119.77B</span>,
 <span class="text">+0.36</span>]

In [15]:
list_collection = list()
for row in rows:
    span_list = row.findAll('span')
    dic = dict()
    dic['Release Date']=span_list[0].get_text()
    dic['Period End']=span_list[1].get_text()
    dic['EPS Actual']=span_list[2].get_text()
    dic['EPS Forecast']=span_list[3].get_text()
    dic['EPS Surprise']=span_list[4].get_text()
    dic['Revenue Actual']=span_list[5].get_text()
    dic['Revenue Forecast']=span_list[4].get_text()
    dic['Revenue Surprise']=span_list[5].get_text()
    list_collection.append(dic)
    dic = None

In [16]:
import pandas as pd
data_frame = pd.DataFrame(list_collection)
data_frame.head(15)

,Release Date,Period End,EPS Actual,EPS Forecast,EPS Surprise,Revenue Actual,Revenue Forecast,Revenue Surprise
0,"May 22, 2020",03/2020,--,3.25,-,--,-,--
1,"Jan 31, 2020",12/2019,3.4,3.38,+0.02,120.13B,+0.02,120.13B
2,"Oct 24, 2019",09/2019,3.3,3.3,0,118.72B,0,118.72B
3,"Aug 02, 2019",06/2019,2.6,2.63,-0.03,115.03B,-0.03,115.03B
4,"May 13, 2019",03/2019,2.8,2.83,-0.03,119.92B,-0.03,119.92B
5,"Jan 23, 2019",12/2018,2.6,2.61,-0.01,112.28B,-0.01,112.28B
6,"Oct 26, 2018",09/2018,2.4,2.4,0,110.69B,0,110.69B
7,"Jul 26, 2018",06/2018,2.3,2.32,-0.02,107.07B,-0.02,107.07B
8,"May 16, 2018",03/2018,2.4,2.36,+0.04,105.87B,+0.04,105.87B
9,"Jan 19, 2018",12/2017,--,2.19,-,--,-,--
10,"Oct 27, 2017",09/2017,--,2.38,-,--,-,--
11,"Jul 27, 2017",06/2017,2.42,2.85,-0.43,118.8B,-0.43,118.8B
12,"May 26, 2017",03/2017,--,2.29,-,--,-,--
13,"Jan 27, 2017",12/2016,--,2.36,-,--,-,--
14,"Oct 26, 2016",09/2016,--,2.19,-,--,-,--

In [17]:
date_inex = pd.to_datetime(data_frame['Release Date'])
data_frame['Release Date'] = date_inex
data_frame

,Release Date,Period End,EPS Actual,EPS Forecast,EPS Surprise,Revenue Actual,Revenue Forecast,Revenue Surprise
0,2020-05-22,03/2020,--,3.25,-,--,-,--
1,2020-01-31,12/2019,3.4,3.38,+0.02,120.13B,+0.02,120.13B
2,2019-10-24,09/2019,3.3,3.3,0,118.72B,0,118.72B
3,2019-08-02,06/2019,2.6,2.63,-0.03,115.03B,-0.03,115.03B
4,2019-05-13,03/2019,2.8,2.83,-0.03,119.92B,-0.03,119.92B
5,2019-01-23,12/2018,2.6,2.61,-0.01,112.28B,-0.01,112.28B
6,2018-10-26,09/2018,2.4,2.4,0,110.69B,0,110.69B
7,2018-07-26,06/2018,2.3,2.32,-0.02,107.07B,-0.02,107.07B
8,2018-05-16,03/2018,2.4,2.36,+0.04,105.87B,+0.04,105.87B
9,2018-01-19,12/2017,--,2.19,-,--,-,--
10,2017-10-27,09/2017,--,2.38,-,--,-,--
11,2017-07-27,06/2017,2.42,2.85,-0.43,118.8B,-0.43,118.8B
12,2017-05-26,03/2017,--,2.29,-,--,-,--
13,2017-01-27,12/2016,--,2.36,-,--,-,--
14,2016-10-26,09/2016,--,2.19,-,--,-,--
15,2016-07-21,06/2016,--,1.94,-,--,-,--
16,2016-05-20,03/2016,--,2.18,-,--,-,--
17,2016-01-22,12/2015,--,2.24,-,--,-,--
18,2015-10-29,09/2015,--,2.06,-,--,-,--
19,2015-07-30,06/2015,--,1.90,-,--,-,--
20,2015-05-22,03/2015,--,2.10,-,--,-,--
21,2015-01-21,12/2014,--,2.02,-,--,-,--
22,2014-10-31,09/2014,--,1.81,-,--,-,--
23,2014-07-29,06/2014,--,1.63,-,--,-,--
24,2014-05-23,03/2014,--,1.86,-,--,-,--
25,2014-01-13,12/2013,--,1.77,-,--,-,--
26,2013-10-25,09/2013,--,1.41,-,--,-,--
27,NaT,12/2020,--,3.08,-,--,-,--
28,NaT,09/2021,--,3.27,-,--,-,--
29,NaT,09/2020,--,3.4,-,--,-,--
30,NaT,03/2013,--,1.79,-,--,-,--
31,NaT,06/2021,--,3.32,-,--,-,--
32,NaT,06/2020,--,3.3,-,--,-,--
33,NaT,06/2013,--,1.37,-,--,-,--
34,NaT,12/2021,--,3.38,-,--,-,--

In [18]:
data_frame.to_csv('ITC_Earnings.csv')