In [1]:
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen

In [3]:
req = Request('https://in.investing.com/equities/itc-historical-data-splits'
                , headers={'User-Agent': 'Mozilla/5.0'})

In [4]:
pages = urlopen(req).read()

In [5]:
soup = BeautifulSoup(pages.decode('utf-8'),'html.parser')

In [6]:
list_value = list(soup.children)

In [7]:
html_page = list_value[3]

In [8]:
html_body=list(html_page.children)[3]

In [9]:
table_intended =  html_body.findAllNext('table')[1]

In [10]:
tbody = list(table_intended.children)[5]

In [12]:
rows = tbody.findAll('tr')

In [13]:
rows[1].findAll('span')

[<span class="text">Jul 01, 2016</span>,
 <span class="text">1/5.1 Stock Split</span>]

In [14]:
list_collection = list()
for row in rows:
    span_list = row.findAll('span')
    dic = dict()
    dic['Split date']=span_list[0].get_text()
    dic['Split Ratio']=span_list[1].get_text()
    list_collection.append(dic)
    dic = None

In [15]:
import pandas as pd
data_frame = pd.DataFrame(list_collection)
data_frame.head(15)

     Split date        Split Ratio
0  Jul 04, 2016  1/5.1 Stock Split
1  Jul 01, 2016  1/5.1 Stock Split
2  Aug 03, 2010    1/2 Stock Split
3  Sep 21, 2005   1/51 Stock Split

In [16]:
date_inex = pd.to_datetime(data_frame['Split date'])
data_frame['Split date'] = date_inex
data_frame

  Split date        Split Ratio
0 2016-07-04  1/5.1 Stock Split
1 2016-07-01  1/5.1 Stock Split
2 2010-08-03    1/2 Stock Split
3 2005-09-21   1/51 Stock Split

In [17]:
data_frame.to_csv('ITC_Splits.csv')